################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlazorAndFluxorCrud/bin/Debug/net8.0
/BlazorAndFluxorCrud/obj
/.vs
