################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlazorAndFluxorCrud/bin/Debug/net8.0
/BlazorAndFluxorCrud/obj
/.vs
/Application/obj
/Domain/obj
/Infrastructure/obj
/Application/bin/Debug/net8.0
/Domain/bin/Debug/net8.0
/Infrastructure/bin/Debug/net8.0
